<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout
                    pattern="[ThreadName000]:[%X{TRACE_ID}] +++++:%d{yyyy/MM/dd HH:mm:ss.SSS} %t [%p] %c{1} (%F:%L) %msg%n"/>
        </Console>
        <RollingFile name="ERROR-LOG" fileName="${sys:user.home}/MyLogs/error.log"
                     filePattern="${sys:user.home}/MyLogs/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="INFO-LOG" fileName="${sys:user.home}/MyLogs/info.log"
                     filePattern="${sys:user.home}/MyLogs/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
    </appenders>
    <loggers>
        <logger name="org.springframework" level="INFO"></logger>
        <!--日志输出级别(console和文件都受影响)-->
        <root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="INFO-LOG"/>
            <appender-ref ref="ERROR-LOG"/>
        </root>
    </loggers>
</configuration>